<h1>Dva tisíce slov</h1>
<p>Obracíme se na vás v tomto okamžiku naděje, která je však pořád ohrožena. Trvalo několik měsíců, než mnozí z nás uvěřili, že mohou promluvit, mnozí však nevěří ani teď. Ale promluvili jsme už tak a tolik se odkryli, že svůj úmysl zlidštit tento režim musíme jedině dokončit. Jinak by odplata starých sil byla krutá. Obracíme se hlavně na ty, kdo zatím jen čekali. Čas, který nastává, bude rozhodující pro mnoho let.</p>
<p>[...]</p>
<p>Žádejme odchod lidí, kteří zneužili své moci, poškodili veřejný majetek, jednali nečestně nebo krutě. Je třeba vynalézat způsoby, jak je přimět k odchodu. Například: veřejná kritika, rezoluce, demonstrace, demonstrační pracovní brigády, sbírka na dary pro ně do důchodu, stávka, bojkot jejich dveří.</p>
<p>[...]</p>
<p>Uslyšíme-li divné zprávy, ověřujme si je, vysílejme delegace na kompetentní místa, jejich odpovědi zveřejňujme třeba na vratech. Podporujme orgány bezpečnosti, když stíhají skutečnou trestnou činnost, naší snahou není způsobit bezvládí a stav všeobecné nejistoty. Vyhýbejme se sousedským hádkám, neožírejme se v politických souvislostech. Prozrazujme fízly.</p>
